
    <link rel="stylesheet" href="../assets/css/aos.css">
  <div style="margin-top: 70px;" class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    {{#if titles}}
                     <h2  class="title">{{titles}}</h2>
                     {{else}}
                    <h2  class="title">Event Registration Form</h2>
                    {{/if}}
                </div>
            <center><b> <h3 style="margin-top:20px; color:green;">{{viewTitle}}</h3></b></center>
                <div class="card-body">
<form method="POST" action="/Users/add" autocomplete="off">
<input type="hidden" name="id" value="{{user._id}}">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" value="{{user.firstName}}" type="text" name="firstName" required>
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" value="{{user.lastName}}" type="text" name="lastName" required>
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" value="{{user.address}}" type="text" name="address" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" value="{{user.email}}" type="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" value="{{user.password}}" type="password" name="password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Confirm Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" value="{{user.password}}" type="password" name="cpassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Salary</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" min ="1000000" value="{{user.salary}}" type="number" name="salary" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Phone Number</div>
                            <div class="value">
                                <div class="input-group">
                                   <input class="input--style-5" minlength="8" value="{{user.phone}}" maxlength= "12" type="number" name="phone" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">
                                Card type</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="country">
                                            {{#if country}}
                                            <option disabled="disabled"  selected="selected">{{country}} </option>                                           
                                            {{else}}
                                               <option disabled="disabled"  selected="selected">Choose Country </option> 
                                               {{/if}}
                                           {{#each countrys}}
                                            <option>{{this.name}}</option>
                                            {{/each}} 
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;                              
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="cardType"  >
                                            {{#if type}}
                                            <option disabled="disabled" selected="selected">{{type}} </option>
                                            {{else}}
                                            <option disabled="disabled" selected="selected">Choose Type Card </option>
                                            {{/if}}

                                            {{#each cards}}
                                            <option>{{this.name}}</option>
                                            {{/each}}                                      
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                         <div class="form-row">
                            <div class="name">
                                Account type</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="typeAccount">
                                            {{#if business}}
                                               <option disabled="disabled"  selected="selected">{{business}} </option> 
                                            {{else}}
                                               <option disabled="disabled"  selected="selected">Choose Type Account </option> 
                                            <option>Personal</option>
                                             <option>Business</option>
                                             {{/if}}
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>                 
                        {{#if static}}    
                         <div class="form-row">
                            <div class="name">Card Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="cardpass" required>
                                </div>
                            </div>
                        </div> 
                        {{/if}}
                        {{#if business}}
                        <div class="form-row">
                            <div class="name">Client Id</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="client_id" required>
                                </div>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="name">Client Secret</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="client_secret" required>
                                </div>
                            </div>
                        </div> 
                        {{/if}}     
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                            </div>                                               
                    </form>
</div>
            </div>
        </div>
    </div>